html { 
  background: url(614.jpeg) no-repeat center center fixed; 
  background-size: cover;
  text-align: center;
  
} 

div {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: contain; 
  background-size: cover;
  border-style: outset;
  margin: 5px auto;
  padding: 5px;
  text-align: center;
  font-size:25px;
  height: 500px;
  width: 709;
  
} 

 

